<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Detail about product</title>
    </head>
    <body>
        <h1><%= foundProduct.name %></h1>
        <section>
            <p><%= `Price = ${foundProduct.price}` %></p>
            <p>
                <%= 'Category = ' + foundProduct.category[0].toUpperCase() +
                foundProduct.category.slice(1,) %>
            </p>
            <a href="/products/<%= foundProduct._id %>/edit"><b>Edit</b></a>
        </section>
        <br />
        <a href="/products"><b>All Products</b></a>
        <section>
            <form action="/products?_method=DELETE" method="POST">
                <button>Delete?</button>
            </form>
        </section>
    </body>
</html>
